/**
 * slender.css
 * MIT License
 * Copyright 2019 urin
 */
:root {
  --h: 211;
  --s: .8;
  --l: .95;
  --bg-h: 211;
  --bg-s: .30;
  --bg-l: .14;
  --radius: max(2px, calc(1em / 5));
  --duration: .25s;
  --disabled-opacity: .4;
  --bg-l-invert: calc(1 - var(--bg-l));
  --bg: hsl(var(--bg-h), calc(var(--bg-s) * 100%), calc(var(--bg-l) * 100%));
  --fg: hsl(var(--h), 10%, calc(30% + 50% * (1 - max(var(--bg-l) - 0.7, 0) / (var(--bg-l) - 0.7))));
  --white: #fff;
  --light: hsl(var(--h), calc(var(--s) * 10%), 97%);
  --gray-lighter: hsl(var(--h), calc(var(--s) * 10%), 80%);
  --gray-light: hsl(var(--h), calc(var(--s) * 10%), 65%);
  --gray: hsl(var(--h), calc(var(--s) * 10%), 45%);
  --gray-dark: hsl(var(--h), calc(var(--s) * 10%), 23%);
  --dark: hsl(var(--h), calc(var(--s) * 10%), 13%);
  --black: hsl(var(--h), calc(var(--s) * 10%), 7%);
  --primary: hsl(var(--h), calc(var(--s) * 100%), calc(var(--l) * 50%));
  --secondary: hsl(var(--h), calc(var(--s) * 10%), calc(var(--l) * 46%));
  --success: hsl(134, calc(var(--s) * 61%), calc(var(--l) * 41%));
  --info: hsl(188, calc(var(--s) * 78%), calc(var(--l) * 41%));
  --warning: hsl( 45, calc(var(--s) * 100%), calc(var(--l) * 41%));
  --danger: hsl(354, calc(var(--s) * 70%), calc(var(--l) * 54%));
  --blue: hsl(211, calc(var(--s) * 100%), calc(var(--l) * 50%));
  --indigo: hsl(263, calc(var(--s) * 90%), calc(var(--l) * 50%));
  --purple: hsl(261, calc(var(--s) * 50%), calc(var(--l) * 50%));
  --pink: hsl(332, calc(var(--s) * 80%), calc(var(--l) * 60%));
  --red: hsl(354, calc(var(--s) * 70%), calc(var(--l) * 55%));
  --orange: hsl( 27, calc(var(--s) * 100%), calc(var(--l) * 55%));
  --yellow: hsl( 45, calc(var(--s) * 100%), calc(var(--l) * 50%));
  --green: hsl(134, calc(var(--s) * 60%), calc(var(--l) * 40%));
  --teal: hsl(162, calc(var(--s) * 70%), calc(var(--l) * 45%));
  --cyan: hsl(188, calc(var(--s) * 80%), calc(var(--l) * 40%));
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  outline: none;
  scrollbar-width: thin;
  scrollbar-color: var(--gray-lighter) var(--gray-light);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--gray-lighter);
  box-shadow: 0 0 1px var(--light);
}

::-webkit-scrollbar-thumb {
  border-radius: 100vmax;
  background-color: var(--gray-light);
  box-shadow: 0 0 1px var(--gray) inset;
}

body {
  font-size: 16px;
  line-height: 1;
  background-color: var(--bg);
  color: var(--fg);
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
  font: inherit;
}

a {
  color: var(--fg);
  text-decoration: none;
}

pre {
  white-space: pre-line;
}

code, kbd, pre, samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

hr {
  box-sizing: content-box;
  height: 0;
  border: none;
  border-bottom: 1px solid hsl(var(--h), 10%, calc(var(--bg-l) * 50% + 40%));
}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
  vertical-align: top;
}

fieldset {
  min-width: 0;
  border: none;
}

/**
 * common
 */
@keyframes ripple {
  from {
    background-size: 0%;
  }
  to {
    background-size: 400%;
  }
}
.button,
.toggle-button,
.file-select,
.box,
.tag,
.table,
.input,
.dialog,
.icon,
.notification,
.progress {
  transition-duration: var(--duration);
  transition-timing-function: ease-in-out;
}

/**
 * document
 */
.document {
  padding: min(2em, 100vw / 40);
  line-height: 1.5;
}

.document a:not(.button):not(.tag) {
  color: var(--info);
}

.document :is(p, dl, ol, ul, li, blockquote, pre, table) {
  margin-bottom: 0.5em;
}

.document :is(h1, h2, h3, h4, h5, h6) {
  font-weight: 600;
  line-height: 1.125;
  margin-bottom: 0.4em;
}

.document h1 {
  font-size: 2em;
}

.document h2 {
  font-size: 1.75em;
}

.document h3 {
  font-size: 1.5em;
}

.document h4 {
  font-size: 1.25em;
}

.document h5 {
  font-size: 1.125em;
}

.document h6 {
  font-size: 1em;
}

.document blockquote {
  padding: 1.25em 1.5em;
}

.document ol {
  list-style-position: outside;
  margin-left: 2em;
  margin-top: 1em;
}

.document ol:not([type]) {
  list-style-type: decimal;
}

.document ul {
  list-style: disc outside;
  margin-left: 2em;
  margin-bottom: 1em;
}

.document ul ul {
  list-style-type: circle;
  margin-bottom: 0.5em;
}

.document ul ul ul {
  list-style-type: square;
}

.document dd {
  margin-left: 2em;
}

.document figure {
  margin-left: 2em;
  margin-right: 2em;
  text-align: center;
}

.document figure:not(:first-child) {
  margin-top: 2em;
}

.document figure:not(:last-child) {
  margin-bottom: 2em;
}

.document figure img {
  display: inline-block;
}

.document figure figcaption {
  font-style: italic;
}

.document pre {
  -webkit-overflow-scrolling: touch;
  padding: 1.25em 1.5em;
  overflow-wrap: normal;
}

.document sup,
.document sub {
  font-size: 75%;
}

.document hr {
  margin: 1rem 0;
}

.document :not(pre) > code {
  padding: 0.2em 0.4em;
  border-radius: var(--radius);
  white-space: nowrap;
  background-color: hsla(0, 0%, calc(var(--bg-l-invert) * 100%), 0.08);
  color: var(--warning);
}

/**
 * box
 */
.box {
  display: inline-flex;
  padding: 1em;
  border-radius: calc(1.5 * var(--radius));
  background-color: hsl(0, 0%, calc(var(--bg-l-invert) * 100%), 0.08);
}

/**
 * button
 */
.button,
.toggle-button > input + *,
.file-select > [type=file] + * {
  display: inline-flex;
  line-height: 2;
  padding: 0 0.8em;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  vertical-align: baseline;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  border: 1px solid hsl(var(--h), 10%, calc(var(--bg-l) * 50% + 30%));
  border-radius: var(--radius);
  cursor: pointer;
  transition-property: box-shadow, background-color;
  color: var(--fg);
  background-color: var(--bg);
  background-image: radial-gradient(circle, hsl(0, 0%, calc(var(--bg-l-invert) * 100%), 0.1) 50%, transparent 51%);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 0%;
}

.toggle-button,
.file-select {
  display: inline-flex;
  position: relative;
}

.toggle-button > input {
  position: absolute;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.button:focus,
.toggle-button > input:focus + *,
.file-select > [type=file]:focus + * {
  animation: var(--duration) linear ripple;
}

.button:hover,
.button:focus,
.toggle-button:hover > input + *,
.toggle-button > input:focus + *,
.file-select:hover > [type=file] + *,
.file-select > [type=file]:focus + * {
  box-shadow: inset 100vw 100vh hsl(0, 0%, calc(var(--bg-l-invert) * 100%), 0.2);
}

a.button:not([href]):hover,
.button[disabled]:hover,
.toggle-button:hover > input[disabled] + *,
.file-select:hover > [type=file][disabled] + *,
fieldset[disabled] :is(.button:hover,
  .toggle-button:hover > input + *,
  .file-select:hover > [type=file] + *) {
  box-shadow: none;
}

.toggle-button > :checked + * {
  background-color: var(--primary) !important;
  color: var(--light);
}

a.button:not([href]),
.button[disabled],
.toggle-button > input[disabled] + *,
.file-select > [type=file][disabled] + *,
fieldset[disabled] :is(.button,
  .toggle-button > input + *,
  .file-select > [type=file] + *) {
  opacity: var(--disabled-opacity);
  cursor: not-allowed;
}

.button.rounded,
:is(.toggle-button, .file-select).rounded > input + * {
  border-radius: 100vmax;
}

.grouped:not(.vertical) > :is(.toggle-button, .file-select):not(:first-child) > input + * {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.grouped:not(.vertical) > :is(.toggle-button, .file-select):not(:last-child) > input + *,
.grouped:not(.vertical) > .file-select:not(:last-child) > input + * {
  border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.grouped.vertical > :is(.toggle-button, .file-select):not(:first-child) > input + * {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.grouped.vertical > :is(.toggle-button, .file-select):not(:last-child) > input + * {
  border-bottom-width: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.button.is-white,
:is(.toggle-button, .file-select).is-white > input + * {
  background-color: var(--white);
}

.button.is-light,
:is(.toggle-button, .file-select).is-light > input + * {
  background-color: var(--light);
}

.button.is-gray-lighter,
:is(.toggle-button, .file-select).is-gray-lighter > input + * {
  background-color: var(--gray-lighter);
  color: var(--light);
}

.button.is-gray-light,
:is(.toggle-button, .file-select).is-gray-light > input + * {
  background-color: var(--gray-light);
  color: var(--light);
}

.button.is-gray,
:is(.toggle-button, .file-select).is-gray > input + * {
  background-color: var(--gray);
  color: var(--light);
}

.button.is-gray-dark,
:is(.toggle-button, .file-select).is-gray-dark > input + * {
  background-color: var(--gray-dark);
  color: var(--light);
}

.button.is-dark,
:is(.toggle-button, .file-select).is-dark > input + * {
  background-color: var(--dark);
  color: var(--light);
}

.button.is-black,
:is(.toggle-button, .file-select).is-black > input + * {
  background-color: var(--black);
  color: var(--light);
}

.button.is-primary,
:is(.toggle-button, .file-select).is-primary > input + * {
  background-color: var(--primary);
  color: var(--light);
}

.button.is-secondary,
:is(.toggle-button, .file-select).is-secondary > input + * {
  background-color: var(--secondary);
  color: var(--light);
}

.button.is-success,
:is(.toggle-button, .file-select).is-success > input + * {
  background-color: var(--success);
  color: var(--light);
}

.button.is-info,
:is(.toggle-button, .file-select).is-info > input + * {
  background-color: var(--info);
  color: var(--light);
}

.button.is-warning,
:is(.toggle-button, .file-select).is-warning > input + * {
  background-color: var(--warning);
  color: var(--light);
}

.button.is-danger,
:is(.toggle-button, .file-select).is-danger > input + * {
  background-color: var(--danger);
  color: var(--light);
}

.button.is-blue,
:is(.toggle-button, .file-select).is-blue > input + * {
  background-color: var(--blue);
  color: var(--light);
}

.button.is-indigo,
:is(.toggle-button, .file-select).is-indigo > input + * {
  background-color: var(--indigo);
  color: var(--light);
}

.button.is-purple,
:is(.toggle-button, .file-select).is-purple > input + * {
  background-color: var(--purple);
  color: var(--light);
}

.button.is-pink,
:is(.toggle-button, .file-select).is-pink > input + * {
  background-color: var(--pink);
  color: var(--light);
}

.button.is-red,
:is(.toggle-button, .file-select).is-red > input + * {
  background-color: var(--red);
  color: var(--light);
}

.button.is-orange,
:is(.toggle-button, .file-select).is-orange > input + * {
  background-color: var(--orange);
  color: var(--light);
}

.button.is-yellow,
:is(.toggle-button, .file-select).is-yellow > input + * {
  background-color: var(--yellow);
  color: var(--light);
}

.button.is-green,
:is(.toggle-button, .file-select).is-green > input + * {
  background-color: var(--green);
  color: var(--light);
}

.button.is-teal,
:is(.toggle-button, .file-select).is-teal > input + * {
  background-color: var(--teal);
  color: var(--light);
}

.button.is-cyan,
:is(.toggle-button, .file-select).is-cyan > input + * {
  background-color: var(--cyan);
  color: var(--light);
}

.button.outlined.is-white,
:is(.toggle-button, .file-select).outlined.is-white > input + * {
  background-color: transparent;
  color: var(--white);
  border-color: var(--white);
}

.button.outlined.is-light,
:is(.toggle-button, .file-select).outlined.is-light > input + * {
  background-color: transparent;
  color: var(--light);
  border-color: var(--light);
}

.button.outlined.is-gray-lighter,
:is(.toggle-button, .file-select).outlined.is-gray-lighter > input + * {
  background-color: transparent;
  color: var(--gray-lighter);
  border-color: var(--gray-lighter);
}

.button.outlined.is-gray-light,
:is(.toggle-button, .file-select).outlined.is-gray-light > input + * {
  background-color: transparent;
  color: var(--gray-light);
  border-color: var(--gray-light);
}

.button.outlined.is-gray,
:is(.toggle-button, .file-select).outlined.is-gray > input + * {
  background-color: transparent;
  color: var(--gray);
  border-color: var(--gray);
}

.button.outlined.is-gray-dark,
:is(.toggle-button, .file-select).outlined.is-gray-dark > input + * {
  background-color: transparent;
  color: var(--gray-dark);
  border-color: var(--gray-dark);
}

.button.outlined.is-dark,
:is(.toggle-button, .file-select).outlined.is-dark > input + * {
  background-color: transparent;
  color: var(--dark);
  border-color: var(--dark);
}

.button.outlined.is-black,
:is(.toggle-button, .file-select).outlined.is-black > input + * {
  background-color: transparent;
  color: var(--black);
  border-color: var(--black);
}

.button.outlined.is-primary,
:is(.toggle-button, .file-select).outlined.is-primary > input + * {
  background-color: transparent;
  color: var(--primary);
  border-color: var(--primary);
}

.button.outlined.is-secondary,
:is(.toggle-button, .file-select).outlined.is-secondary > input + * {
  background-color: transparent;
  color: var(--secondary);
  border-color: var(--secondary);
}

.button.outlined.is-success,
:is(.toggle-button, .file-select).outlined.is-success > input + * {
  background-color: transparent;
  color: var(--success);
  border-color: var(--success);
}

.button.outlined.is-info,
:is(.toggle-button, .file-select).outlined.is-info > input + * {
  background-color: transparent;
  color: var(--info);
  border-color: var(--info);
}

.button.outlined.is-warning,
:is(.toggle-button, .file-select).outlined.is-warning > input + * {
  background-color: transparent;
  color: var(--warning);
  border-color: var(--warning);
}

.button.outlined.is-danger,
:is(.toggle-button, .file-select).outlined.is-danger > input + * {
  background-color: transparent;
  color: var(--danger);
  border-color: var(--danger);
}

.button.outlined.is-blue,
:is(.toggle-button, .file-select).outlined.is-blue > input + * {
  background-color: transparent;
  color: var(--blue);
  border-color: var(--blue);
}

.button.outlined.is-indigo,
:is(.toggle-button, .file-select).outlined.is-indigo > input + * {
  background-color: transparent;
  color: var(--indigo);
  border-color: var(--indigo);
}

.button.outlined.is-purple,
:is(.toggle-button, .file-select).outlined.is-purple > input + * {
  background-color: transparent;
  color: var(--purple);
  border-color: var(--purple);
}

.button.outlined.is-pink,
:is(.toggle-button, .file-select).outlined.is-pink > input + * {
  background-color: transparent;
  color: var(--pink);
  border-color: var(--pink);
}

.button.outlined.is-red,
:is(.toggle-button, .file-select).outlined.is-red > input + * {
  background-color: transparent;
  color: var(--red);
  border-color: var(--red);
}

.button.outlined.is-orange,
:is(.toggle-button, .file-select).outlined.is-orange > input + * {
  background-color: transparent;
  color: var(--orange);
  border-color: var(--orange);
}

.button.outlined.is-yellow,
:is(.toggle-button, .file-select).outlined.is-yellow > input + * {
  background-color: transparent;
  color: var(--yellow);
  border-color: var(--yellow);
}

.button.outlined.is-green,
:is(.toggle-button, .file-select).outlined.is-green > input + * {
  background-color: transparent;
  color: var(--green);
  border-color: var(--green);
}

.button.outlined.is-teal,
:is(.toggle-button, .file-select).outlined.is-teal > input + * {
  background-color: transparent;
  color: var(--teal);
  border-color: var(--teal);
}

.button.outlined.is-cyan,
:is(.toggle-button, .file-select).outlined.is-cyan > input + * {
  background-color: transparent;
  color: var(--cyan);
  border-color: var(--cyan);
}

/**
 * tag
 */
.tag {
  display: inline-flex;
  font-size: 0.6rem;
  padding: 0.4em 0.7em;
  line-height: 1;
  border-radius: var(--radius);
  vertical-align: baseline;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: var(--fg);
  background-color: hsl(0, 0%, calc(var(--bg-l-invert) * 100%), 0.08);
}

.tag.rounded {
  border-radius: 100vw;
}

.tag.size-xs,
.grouped.size-xs > .tag {
  font-size: 0.4rem;
}

.tag.size-s,
.grouped.size-s > .tag {
  font-size: 0.5rem;
}

.tag.size-m,
.grouped.size-m > .tag {
  font-size: 0.6rem;
}

.tag.size-l,
.grouped.size-l > .tag {
  font-size: 1rem;
}

.tag.size-xl,
.grouped.size-xl > .tag {
  font-size: 1.2rem;
}

.grouped > .tag {
  border: 1px solid hsl(var(--h), 10%, calc(var(--bg-l) * 50% + 30%));
}

.grouped:not(.vertical) > .tag:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.grouped:not(.vertical) > .tag:not(:last-child) {
  border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.grouped.vertical > .tag:not(:first-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.grouped.vertical > .tag:not(:last-child) {
  border-bottom-width: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.tag.is-white {
  background-color: var(--white);
}

.tag.is-light {
  background-color: var(--light);
}

.tag.is-gray-lighter {
  background-color: var(--gray-lighter);
  color: var(--light);
}

.tag.is-gray-light {
  background-color: var(--gray-light);
  color: var(--light);
}

.tag.is-gray {
  background-color: var(--gray);
  color: var(--light);
}

.tag.is-gray-dark {
  background-color: var(--gray-dark);
  color: var(--light);
}

.tag.is-dark {
  background-color: var(--dark);
  color: var(--light);
}

.tag.is-black {
  background-color: var(--black);
  color: var(--light);
}

.tag.is-primary {
  background-color: var(--primary);
  color: var(--light);
}

.tag.is-secondary {
  background-color: var(--secondary);
  color: var(--light);
}

.tag.is-success {
  background-color: var(--success);
  color: var(--light);
}

.tag.is-info {
  background-color: var(--info);
  color: var(--light);
}

.tag.is-warning {
  background-color: var(--warning);
  color: var(--light);
}

.tag.is-danger {
  background-color: var(--danger);
  color: var(--light);
}

.tag.is-blue {
  background-color: var(--blue);
  color: var(--light);
}

.tag.is-indigo {
  background-color: var(--indigo);
  color: var(--light);
}

.tag.is-purple {
  background-color: var(--purple);
  color: var(--light);
}

.tag.is-pink {
  background-color: var(--pink);
  color: var(--light);
}

.tag.is-red {
  background-color: var(--red);
  color: var(--light);
}

.tag.is-orange {
  background-color: var(--orange);
  color: var(--light);
}

.tag.is-yellow {
  background-color: var(--yellow);
  color: var(--light);
}

.tag.is-green {
  background-color: var(--green);
  color: var(--light);
}

.tag.is-teal {
  background-color: var(--teal);
  color: var(--light);
}

.tag.is-cyan {
  background-color: var(--cyan);
  color: var(--light);
}

.tag.outlined.is-white {
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--white);
}

.tag.outlined.is-light {
  background-color: transparent;
  color: var(--light);
  border: 1px solid var(--light);
}

.tag.outlined.is-gray-lighter {
  background-color: transparent;
  color: var(--gray-lighter);
  border: 1px solid var(--gray-lighter);
}

.tag.outlined.is-gray-light {
  background-color: transparent;
  color: var(--gray-light);
  border: 1px solid var(--gray-light);
}

.tag.outlined.is-gray {
  background-color: transparent;
  color: var(--gray);
  border: 1px solid var(--gray);
}

.tag.outlined.is-gray-dark {
  background-color: transparent;
  color: var(--gray-dark);
  border: 1px solid var(--gray-dark);
}

.tag.outlined.is-dark {
  background-color: transparent;
  color: var(--dark);
  border: 1px solid var(--dark);
}

.tag.outlined.is-black {
  background-color: transparent;
  color: var(--black);
  border: 1px solid var(--black);
}

.tag.outlined.is-primary {
  background-color: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
}

.tag.outlined.is-secondary {
  background-color: transparent;
  color: var(--secondary);
  border: 1px solid var(--secondary);
}

.tag.outlined.is-success {
  background-color: transparent;
  color: var(--success);
  border: 1px solid var(--success);
}

.tag.outlined.is-info {
  background-color: transparent;
  color: var(--info);
  border: 1px solid var(--info);
}

.tag.outlined.is-warning {
  background-color: transparent;
  color: var(--warning);
  border: 1px solid var(--warning);
}

.tag.outlined.is-danger {
  background-color: transparent;
  color: var(--danger);
  border: 1px solid var(--danger);
}

.tag.outlined.is-blue {
  background-color: transparent;
  color: var(--blue);
  border: 1px solid var(--blue);
}

.tag.outlined.is-indigo {
  background-color: transparent;
  color: var(--indigo);
  border: 1px solid var(--indigo);
}

.tag.outlined.is-purple {
  background-color: transparent;
  color: var(--purple);
  border: 1px solid var(--purple);
}

.tag.outlined.is-pink {
  background-color: transparent;
  color: var(--pink);
  border: 1px solid var(--pink);
}

.tag.outlined.is-red {
  background-color: transparent;
  color: var(--red);
  border: 1px solid var(--red);
}

.tag.outlined.is-orange {
  background-color: transparent;
  color: var(--orange);
  border: 1px solid var(--orange);
}

.tag.outlined.is-yellow {
  background-color: transparent;
  color: var(--yellow);
  border: 1px solid var(--yellow);
}

.tag.outlined.is-green {
  background-color: transparent;
  color: var(--green);
  border: 1px solid var(--green);
}

.tag.outlined.is-teal {
  background-color: transparent;
  color: var(--teal);
  border: 1px solid var(--teal);
}

.tag.outlined.is-cyan {
  background-color: transparent;
  color: var(--cyan);
  border: 1px solid var(--cyan);
}

/**
 * input
 */
.label {
  line-height: 2;
  cursor: pointer;
}

.label.grouped > :first-child {
  margin-left: 0.3em;
}

:is(.input, .textarea)::placeholder {
  color: var(--gray-lighter);
}

:is(.input, .textarea):invalid::placeholder {
  color: var(--gray);
}

.input:is([type=text],
  [type=date],
  [type=datetime-local],
  [type=email],
  [type=file],
  [type=month],
  [type=number],
  [type=password],
  [type=search],
  [type=tel],
  [type=time],
  [type=url],
  [type=week]),
.select,
.textarea {
  display: inline-flex;
  appearance: none;
  -webkit-appearance: none;
  vertical-align: baseline;
  line-height: 2;
  padding: 0 0.6em;
  color: var(--dark);
  background-color: var(--light);
  border: 1px solid hsl(var(--h), 10%, calc(var(--bg-l) * 50% + 30%));
  border-radius: calc(var(--radius) / 1.5);
  transition-property: border-color, box-shadow;
}

.textarea {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  line-height: 1.5;
}

.select {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: none;
}

.select:not([multiple]),
.grouped > .select:not([multiple]) {
  padding-right: 2em;
}

.select:not([multiple]) {
  background-repeat: no-repeat;
  background-size: 1em 1em;
  background-position: calc(100% - .5em) 0.5em;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2250%22%20height%3D%2250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cg%3E%20%3Crect%20width%3D%2250%22%20height%3D%2250%22%20fill%3D%22none%22%2F%3E%20%3Cpolygon%20fill%3D%22%23b2b2b2%22%20points%3D%2247.25%2C15%2045.164%2C12.914%2025%2C33.078%204.836%2C12.914%202.75%2C15%2025%2C37.25%20%22%2F%3E%20%3C%2Fg%3E%3C%2Fsvg%3E");
}

.select > option {
  padding: 0 1em;
}

.select[multiple] {
  padding: 0;
  height: auto;
}

.select[multiple] > option {
  padding: 0.5em 0.6em;
}

.file-select > [type=file] {
  position: absolute;
  opacity: 0 !important;
  width: 100%;
  height: 100%;
}

.radio,
.checkbox {
  cursor: pointer;
}

.input[readonly]:is([type=text],
  [type=date],
  [type=datetime-local],
  [type=email],
  [type=file],
  [type=month],
  [type=number],
  [type=password],
  [type=search],
  [type=tel],
  [type=time],
  [type=url],
  [type=week]),
[readonly]:is(.select, .textarea) {
  color: var(--gray);
}

.input[disabled]:is([type=text],
  [type=date],
  [type=datetime-local],
  [type=email],
  [type=file],
  [type=month],
  [type=number],
  [type=password],
  [type=search],
  [type=tel],
  [type=time],
  [type=url],
  [type=week]),
fieldset[disabled] :is([type=text],
  [type=date],
  [type=datetime-local],
  [type=email],
  [type=file],
  [type=month],
  [type=number],
  [type=password],
  [type=search],
  [type=tel],
  [type=time],
  [type=url],
  [type=week]),
[disabled]:is(.select, .textarea),
fieldset[disabled] :is(.select, .textarea) {
  opacity: var(--disabled-opacity);
  background-color: var(--light);
  color: var(--gray);
  cursor: not-allowed;
}

.input:focus:is([type=text],
  [type=date],
  [type=datetime-local],
  [type=email],
  [type=file],
  [type=month],
  [type=number],
  [type=password],
  [type=search],
  [type=tel],
  [type=time],
  [type=url],
  [type=week]),
:focus:is(.select, .textarea) {
  box-shadow: 0 0 2px 1px var(--primary) inset;
}

.input:invalid:is([type=text],
  [type=date],
  [type=datetime-local],
  [type=email],
  [type=file],
  [type=month],
  [type=number],
  [type=password],
  [type=search],
  [type=tel],
  [type=time],
  [type=url],
  [type=week]),
:invalid:is(.select, .textarea) {
  background-color: hsl(354, calc(var(--s) * 100%), calc(90% + 7% * var(--bg-l)));
  border-color: var(--danger);
}

@-moz-document url-prefix() {
  .range {
    appearance: none;
    width: fit-content;
    height: 8px;
    border-radius: 100vmax;
    background-color: var(--blue);
  }

  .range::-moz-range-thumb {
    appearance: none;
    width: 14px;
    height: 14px;
    border: none;
    border-radius: 100vmax;
    box-shadow: 0 0 0 1px var(--gray);
  }
}
/**
 * modifiers
 */
.fullwidth {
  width: 100%;
}

.fullwidth:not(.table) {
  display: flex;
}

.fullwidth:not(.table):not([multiple]) > * {
  width: 100%;
}

:not(.vertical) .fullwidth:not(:is(.table, [multiple], .vertical)) > :not(.vertical) {
  margin-left: 0.5em;
}

.size-xs {
  font-size: 0.7rem;
}

.size-s {
  font-size: 0.9rem;
}

.size-m {
  font-size: 1rem;
}

.size-l {
  font-size: 1.3rem;
}

.size-xl {
  font-size: 1.5rem;
}

.grouped:not(.vertical) > :not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.grouped:not(.vertical) > :not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.grouped.vertical > :not(:first-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.grouped.vertical > :not(:last-child) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/**
 * table
 */
.table :is(thead, tfoot) {
  background-color: hsl(0, 0%, calc(var(--bg-l-invert) * 100%), 0.08);
}

.table :is(td, th) {
  border: 1px solid hsl(var(--h), 10%, calc(var(--bg-l) * 50% + 30%));
  border-width: 0 0 1px;
  padding: 0.25em 0.75em;
}

.table thead :is(td, th) {
  border-width: 0 0 2px;
}

.table tfoot :is(td, th) {
  border-width: 2px 0 0;
}

.table tbody tr:last-child :is(td, th) {
  border-bottom-width: 0;
}

.table.bordered :is(td, th) {
  border-width: 1px;
}

.table.bordered tr:last-child :is(td, th) {
  border-bottom-width: 1px;
}

.table.hoverable tbody tr:hover {
  background-color: hsl(0, 0%, calc(var(--bg-l-invert) * 100%), 0.08);
}

/**
 * dialog
 */
.dialog {
  display: inline-block;
  position: fixed;
  color: var(--fg);
  background-color: var(--bg);
  font-size: 1rem;
  padding: 1em;
  border: none;
  border-radius: var(--radius);
  box-shadow: 0 0 1px var(--gray) inset;
  opacity: 0;
  transition: opacity var(--duration);
}

.dialog[open] {
  opacity: 1;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(1px);
}

.close {
  display: inline-flex;
  position: relative;
  line-height: 0;
  font-size: 0;
  width: 1.25rem;
  height: 1.25rem;
  padding: 0;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  align-content: center;
  justify-content: center;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 100vmax;
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.5);
  transform: rotate(45deg);
  transform-origin: center center;
}

.close::before {
  display: block;
  content: "";
  position: absolute;
  width: 2px;
  height: 0.75rem;
  background-color: var(--gray);
}

.close::after {
  display: block;
  content: "";
  position: absolute;
  width: 0.75rem;
  height: 2px;
  background-color: var(--gray);
}

.dialog > .close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.dialog > .close + * {
  margin-top: 0.75rem;
}

/**
 * helpers
 */
.bg-white {
  background-color: var(--white) !important;
}

.fg-white {
  color: var(--white) !important;
}

.bg-light {
  background-color: var(--light) !important;
}

.fg-light {
  color: var(--light) !important;
}

.bg-gray-lighter {
  background-color: var(--gray-lighter) !important;
}

.fg-gray-lighter {
  color: var(--gray-lighter) !important;
}

.bg-gray-light {
  background-color: var(--gray-light) !important;
}

.fg-gray-light {
  color: var(--gray-light) !important;
}

.bg-gray {
  background-color: var(--gray) !important;
}

.fg-gray {
  color: var(--gray) !important;
}

.bg-gray-dark {
  background-color: var(--gray-dark) !important;
}

.fg-gray-dark {
  color: var(--gray-dark) !important;
}

.bg-dark {
  background-color: var(--dark) !important;
}

.fg-dark {
  color: var(--dark) !important;
}

.bg-black {
  background-color: var(--black) !important;
}

.fg-black {
  color: var(--black) !important;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.fg-primary {
  color: var(--primary) !important;
}

.bg-secondary {
  background-color: var(--secondary) !important;
}

.fg-secondary {
  color: var(--secondary) !important;
}

.bg-success {
  background-color: var(--success) !important;
}

.fg-success {
  color: var(--success) !important;
}

.bg-info {
  background-color: var(--info) !important;
}

.fg-info {
  color: var(--info) !important;
}

.bg-warning {
  background-color: var(--warning) !important;
}

.fg-warning {
  color: var(--warning) !important;
}

.bg-danger {
  background-color: var(--danger) !important;
}

.fg-danger {
  color: var(--danger) !important;
}

.bg-blue {
  background-color: var(--blue) !important;
}

.fg-blue {
  color: var(--blue) !important;
}

.bg-indigo {
  background-color: var(--indigo) !important;
}

.fg-indigo {
  color: var(--indigo) !important;
}

.bg-purple {
  background-color: var(--purple) !important;
}

.fg-purple {
  color: var(--purple) !important;
}

.bg-pink {
  background-color: var(--pink) !important;
}

.fg-pink {
  color: var(--pink) !important;
}

.bg-red {
  background-color: var(--red) !important;
}

.fg-red {
  color: var(--red) !important;
}

.bg-orange {
  background-color: var(--orange) !important;
}

.fg-orange {
  color: var(--orange) !important;
}

.bg-yellow {
  background-color: var(--yellow) !important;
}

.fg-yellow {
  color: var(--yellow) !important;
}

.bg-green {
  background-color: var(--green) !important;
}

.fg-green {
  color: var(--green) !important;
}

.bg-teal {
  background-color: var(--teal) !important;
}

.fg-teal {
  color: var(--teal) !important;
}

.bg-cyan {
  background-color: var(--cyan) !important;
}

.fg-cyan {
  color: var(--cyan) !important;
}

.middles,
.middles * {
  vertical-align: middle;
}

/**
 * grouped
 */
.grouped {
  display: inline-flex;
  align-items: baseline;
}

.grouped.vertical {
  flex-direction: column;
  align-items: stretch;
}

.grouped > *,
.file-select > * {
  border-radius: var(--radius);
}

.grouped:not(.vertical) > :not(:first-child),
.file-select > :not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.file-select > [type=file] + :nth-child(2) {
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
}

.grouped:not(.vertical) > :not(:last-child),
.file-select > :not(:last-child) {
  border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.grouped.vertical > :not(:first-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.grouped.vertical > :not(:last-child) {
  border-bottom-width: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/*# sourceMappingURL=slender.css.map */
